<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edtech</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">

</head>

<body>
    <nav>
        <div class="nav-logo"><a href="/">LOGO</a></div>
        <div class="nav-items">
            <ul class="nav-items-list">
                <li><a href="/features">Features</a></li>
                <li><a href="/solutions">Solutions</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </div>
        <div class="nav-login">
            <ul class="nav-login-list">
                <li><a href="/login">LogIn</a></li>
                <li><a href="/signup">Signin</a></li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1>Search</h1>
        <p>Search for a course</p>
        <br><br><br>
        <form id="form">
            <div class="form-group">
                <input type="text" class="form-control" id="search">
            </div>
            <br>
            <div class="form-group">
                <input type="submit" class="btn btn-danger" id="Search">
            </div>
        </form>
    <div class="row">
        <div class="col-md-12">
            <div id="videos">

            </div>
        </div>
    </div>
    <div class="form-group">
        
        <a href="/gpt">  <input type="submit" class="btn btn-danger" value="Test" id="Test"></a>
    </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script  src="{{url_for('static', filename='script.js')}}"  ></script>

</html>